<div class="component">
  <h1>List Component</h1>
  <h2>Tout ce que je dois faire !</h2>

  <h3 *ngIf="isLoading">Chargement en cours !</h3>
  <div *ngIf="!isLoading">
    <h4>Les résultats !</h4>

    <h5 *ngIf="items.length == 0">
      Aucun résultat
    </h5>
    <ul>
      <li *ngFor="let item of items">{{ item.libelle }} | <button (click)="delete(item.id)">Supprimer !</button></li>
    </ul>
  </div>
</div>
