<div class="component">
  <h1>Header Component</h1>
  <h2>Bienvenue dans ma TodoList !</h2>
  <a [routerLink]="['/']">Revenir à la maison !</a> |
  <a [routerLink]="['/add']">Ajouter un élément à la todo !</a>

  <button (click)="logout()">Me déco !</button>
</div>
