<div class="component">
  <h1>Sign in component</h1>
  <h2>Veuillez vous authentifier !</h2>

  <form #form="ngForm" (ngSubmit)="loggedUser()">
    <div>
      <label>Username</label>
      <input minlength="3" type="text" required #username="ngModel" name="libelle" [(ngModel)]="user.username">
      <div class="error" *ngIf="!username.valid">
        Ce champ n'est pas valide !
      </div>
    </div>



    <div>
      <label>Password</label>
      <input minlength="3" type="text" required #password="ngModel" name="libelle" [(ngModel)]="user.password">
      <div class="error" *ngIf="!password.valid">
        Ce champ n'est pas valide !
      </div>
    </div>


    <input
      [disabled]="!form.valid"
      type="submit"
    >


  </form>
</div>
