<div class="component">
  <h1>Form Component</h1>

  <form #form="ngForm" (ngSubmit)="submitForm()">

    <input minlength="3" type="text" required #libelle="ngModel" name="libelle" [(ngModel)]="item.libelle">
    <div class="error" *ngIf="!libelle.valid">
      Ce champ n'est pas valide !
    </div>

    <br>

    <input
      [disabled]="!form.valid || isLoading"
      type="submit"
    >
  </form>
</div>
